<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    package="ch.sbb.mf.esta_mobile_flutter_oidc_example">

    <queries>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.APP_BROWSER" />
            <data android:scheme="https" />
        </intent>

    </queries>

    <application 
        android:label="SBB OIDC Example App" 
        android:icon="@mipmap/ic_launcher">

        <activity 
            android:name=".MainActivity" 
            android:launchMode="singleTop" 
            android:theme="@style/LaunchTheme" 
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" 
            android:hardwareAccelerated="true" 
            android:windowSoftInputMode="adjustResize" 
            android:exported="true" 
            android:allowBackup="true" 
            android:fullBackupContent="@xml/backup_rules" 
            android:dataExtractionRules="@xml/data_extraction_rules">

            <meta-data 
                android:name="io.flutter.embedding.android.NormalTheme" 
                android:resource="@style/NormalTheme" />
            <meta-data 
                android:name="io.flutter.embedding.android.SplashScreenDrawable" 
                android:resource="@drawable/launch_background" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <meta-data 
            android:name="flutterEmbedding" 
            android:value="2" />

    </application>

</manifest>
